table {
    /* width: 100%; */
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    border: solid 1px;
  }
  
  td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  
  
  tr:nth-child(even) {
    background-color: #f9f9f9;
  }